@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
   background-image: url(/Arktos-Realm/img/background_ice.jpg);
   background-size: auto;
   background-repeat: no-repeat;   
   /* background-position-y: 150px; */
   font-family: 'Roboto', sans-serif;
   color: #2f3939;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

h2 {
    color: white;
    font-weight: 600;
    font-size: 2 rem;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 2rem;
}

h4 {
  text-align: center;
  font-size: 1.8rem;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid darkgreen;
}

.buttons {
  margin: 15px;
  align-items: stretch;
  /* button styling */
  box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.buttons:hover {
  background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  cursor:pointer;
	background-color:#408c99;
}
 
/* Start Screen Setup */
#start-screen {
    display: flex;
    align-items: stretch;
    height: 40vmax;
    margin: 5% 15%;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(243, 244, 245, 0.8);
    border-radius: 20px;
    box-shadow: 0px 10px 14px -7px #276873;
}



/* Game Screen Setup */
#game-screen {
    display: none;
    justify-content: space-between;
    border: 2px solid brown;
    flex-direction: row;
    align-items: stretch;
    /* height: 50vmax;
    width: 80vmax; */
    margin: 3%;
    background-color: rgba(243, 244, 245, 0.8);
    border-radius: 20px;
    box-shadow: 0px 10px 14px -7px #276873;
}

#game-timer {
  align-self: flex-end;
  margin: 4%;
}

#game-buttons {
  margin: 2% 0% 5% 0%;
  width: 400px;
}

#help, #give-up {
  width: 150px;
}

#player-stats {
    flex-direction: column;
    width: 25%;
    flex-shrink: 1;
    padding: 5px;
}

#game {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    flex-shrink: 0;
    display:flex;
    --s: 100px;  /* size */
    --m: 4px;    /* margin */
    --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
}

#arktos {
  flex-direction: column;
  width: 25%;
  flex-shrink: 1;
  padding: 10px;
}
 /* #arktos img {
  object-fit: contain;
 } */



/* Hexagon Shapes */

.container {
    font-size: 0; /*disable white space between inline block element */
    border: 2px solid blue;
    width: 1000px;
    height: 500px;
    margin: 0% 5%;
}
  
  .container div {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s)*1.1547); 
    display: inline-block;
    font-size:initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    background: rgb(66, 104, 186);
    margin-bottom: calc(var(--m) - var(--s)*0.2885); 
  }
  /* .container div:nth-child(odd) {
    background:green;
  } */
  .container::before {
    content: "";
    width: calc(var(--s)/2 + var(--m));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(     
                     #0000 0 calc(var(--f) - 3px),      
                     #000  0 var(--f));
  }

  .container div:hover {
    background: rgb(231, 19, 164);
  }

  .tileClicked {
    background: rgb(231, 19, 164);
  }


  /* End-Screen Setup */
  #end-screen {
    display: none;
    align-items: stretch;
    height: 40vmax;
    margin: 10% 15%;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(243, 244, 245, 0.8);
}



